/* =============================
================================
		CARD STYLES
================================
============================== */

.cards-wrapper {
  background-color: var(--black);
  flex: 1 1;
  padding-top: .75em;
}

.space-saver {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: var(--light-gray);
    width: 90vw;
    text-align: center;

    > p {
      font-size: 1.2rem;
      text-wrap: balance;
      line-height: 1.65;
      width: min(390px, 80%);
    }
  }

.cards {
  color: var(--white);
  margin-inline: 0;
  padding-inline: 4.3vw;
  text-align: left;

  & article:first-of-type {
    margin-top: 0.1em;
  }

  hr.card-divider {
    height: 0.5px;
    border-color: var(--white);
    border-inline: none;
    border-bottom: none;
    opacity: 50%;
    width: 80%;
  }

  hr:last-of-type {
    display: none;
  }
}

/* convert to grid using media objects guidelines
     https://developer.mozilla.org/en-US/docs/Web/CSS/How_to/Layout_cookbook/Media_objects */
article.movie-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.85em;
  padding-block: 0.65rem;
  margin-block: 0.8rem;
}

div.movie-details {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.85rem, 0.78rem + 0.5vw, 1.1rem);

  > .title-watchlist {
    display: flex;
    justify-content: space-between;
    gap: 0.75em;
  }

  > .runtime-year-genre-rating {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;

    > .runtime-year-genre {
      display: flex;
      flex-direction: column;
      flex: 1 1;
    }

    > .rating {
      align-self: center;
      font-size: 1.08em;
      font-weight: 400;
    }
  }

  > p.plot {
    flex: 4 1;
    margin-top: 0.5em;
    font-size: 0.935em;
  }
}

article.movie-card.fuzzy-results {

  gap: 0.65em;

  > div.movie-details {

    > .year {
      font-size: 0.8em;
    }

    > details#more {
      margin-top: 0.7em;

      > summary {
        list-style: none;
        font-size: 0.85em;
        color: hsl(187deg 36.15% 70.66%);

        &:hover {
          font-style: italic;
          font-size: 0.95em;
        }
      }

      > div {
        margin-block: 0.7em;
        margin-left: 1em;
      }
    }
  }
}

/* =============================
		ICONS & IMAGES
	============================== */

.thumbnail {
  width: max(90px, 11%);
  font-size: .8rem;
  object-fit: contain;
  margin-top: 0.3rem;
  background: var(--medium-gray);
}

.fa-circle-plus,
.fa-circle-check {
  font-size: 1.5em;
  padding-top: 0.25em;
}

.fuzzy-details .fa-circle-plus,
.fuzzy-details .fa-circle-check {
  font-size: 1.7em;
}

.fa-circle-check {
  color: var(--ice-blue);
  transform: scale(1.25);
}

.fa-star {
  font-size: .85em;
  margin-right: 0.36em;
  color: var(--yellow);
}

/* =============================
		MEDIA QUERIES
	============================== */

@media (width > 580px) {

  /*
  main {
    padding-inline: 5vw;
  } */

  hr.card-divider {
    width: 40%;
  }

  article.movie-card {
    gap: 1.3em;
  }

  div.movie-details {
    & .runtime-year-genre p {
      /* I'd deleted this but i think it was an accident. */
      font-size: 0.86rem;
    }

    > p.plot {
      font-size: 0.95rem;
    }
  }

  article.movie-card.fuzzy-results {

    gap: 1.05em;

    div.movie-details {
      .year {
        line-height: 0.7;
      }
    }
  }
}