/* ~~~~~~~~ SLIM RESET ~~~~~~~ */

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: system-ui, sans-serif;
	margin-inline: auto;    /* center content horizontally */
}
