:root {
  --white: #f8f8f8;
  --gray: hsl(0, 0%, 12%);
  --light-gray: hsl(0, 0%, 52%);
  --black: #151515;
  --ice-blue: hsl(182 32% 43% / 1);
  --transp-ice-blue: hsl(187, 28%, 49%, 65%);
  --black-text-shadow: 3px 3px 1px var(--black), 1.15px -1.15px 1px var(--black), -1.15px 1.15px 1px var(--black), -1.15px -1.15px 1px var(--black);
  --gray-border: solid .5px #797979;
  --ice-blue-border: 2px solid var(--ice-blue);
  --small-font-size: clamp(0.475rem, 0.38rem + 2.65vw, 1.1rem);

}

body {
  color: var(--white);
  background-color: var(--gray);
}

body,
input,
button {
  font-family: 'Open Sans', sans-serif;
}

.body-wrapper {
  min-height: 100dvh;
  display: flex;
  flex-flow: column nowrap;
  margin-inline: auto;
}

p {
  font-weight: 300;
}

header {
  background: url("../images/vista_lapl_coll.jpg") no-repeat top / cover;
  flex: 1 1 7.25rem;

  > .header-text-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    backdrop-filter: contrast(.65) blur(1px) brightness(.34);
    height: 100%;
    border-bottom: 1px var(--ice-blue) solid;
    padding-block: 0.5rem 0.6em;
    padding-inline: 0.8em;

    h1 {
      flex: 1 1;
      font-family: "Limelight", sans-serif;
      font-size: clamp(1.9rem, 0.25rem + 8.3vw, 5.3rem);
      text-shadow: var(--black-text-shadow);
      text-transform: uppercase;
      text-align: center;
      align-content: end;
    }
  }
}

form {
  display: flex;
  flex: 1 1;
  gap: 0.5em;
  flex-flow: column wrap;
  font-family: 'Open Sans', sans-serif;
  padding-inline: 5vw;
  width: 100%;
  justify-content: flex-end;

}

#search-bar-wrapper {
  display: flex;
  background-color: var(--white);
  border: var(--ice-blue-border);
  border-radius: 8px;
  padding-inline: 1rem;
  padding-block: .09em;
  justify-content: space-between;

  &.fancy-focus {
    border: 1.5px solid var(--ice-blue);
    box-shadow: 0 0 12px var(--ice-blue);
  }

  input,
  button {
    border-width: 0;
    background-color: #ff000000;
    color: var(--gray);
    font-size: 1rem;
    padding: 0;
    appearance: none;
    border: none;
    outline: none;
  }

  input#search-bar {
    width: 90%;

    &::placeholder {
      color: var(--ice-blue);
    }
  }

  #submit-btn:focus {
    background-color: var(--transp-ice-blue);
    transform: scale(1.1);
    box-shadow: 0 0 6px var(--ice-blue);
    padding-inline: 0.4em;
    margin-right: -0.4em;
  }
}

#search-types {
  display: flex;
  gap: .3rem 0.7rem;
  flex-wrap: wrap;
  align-items: center;

  > .type-choice {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.3em;
  }

  & label {
    font-size: 0.98em;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
    text-wrap: nowrap;
  }
}

main {
  flex: 2 1 60vh;
  display: flex;
  max-width: 1000px;
  margin-inline: auto;
}

#movie-cards-wrapper {
  background-color: var(--black);
  flex: 1 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-top: .5em;

  &.space-saver {
    color: var(--light-gray);
    width: 90vw;
    text-align: center;

    > p {
      font-size: 1.2rem;
      text-wrap: balance;
      line-height: 1.65;
      width: min(390px, 80%);
    }
  }

  &.cards {
    color: var(--white);
    margin-inline: 0;
    padding-inline: 3.8vw;
    text-align: left;
  }
}

.card-divider {
  height: 0.5px;
  border-color: var(--white);
  border-inline: none;
  border-bottom: none;
  opacity: 50%;
  width: 80%;
}

article.movie-card {
  flex: 1 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.85em;
  padding-block: 0.65rem;
  margin-block: 0.8rem;

  div.movie-details {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    font-size: clamp(0.85rem, 0.78rem + 0.5vw, 1.1rem);

    > .title-rating,
    .runtime-year-list,
    .genre {
      flex: 1 1;
      display: flex;
      gap: 0.5em;
    }

    > .title-rating {
      flex: 2 1;
      justify-content: space-between;
      align-items: baseline;
      text-wrap: nowrap;

      > h2 {
        font-size: 1.3em;
        font-weight: 500;
        text-wrap: wrap;
      }

      > p {
        text-wrap: nowrap;
        font-size: 0.95em;
      }
    }

    > .runtime-year-list,
    .genre {
      font-size: 0.9em;
    }

    > .runtime-year-list {
      justify-content: space-between;

      > div {
        display: flex;
        gap: 1em;

        .watchlist {
          font-size: 1em;
          font-weight: 700;
        }
      }
    }

    > .plot {
      flex: 4 1;
      margin-top: 0.4em;
      font-size: 0.935em;
    }
  }
}

/* =============================
		ICONS & IMAGES
	============================== */

.fa-film {
  font-size: 2.5em !important;
  margin-top: 1rem;
}

.fa-star {
  font-size: .85em;
  margin-right: 0.65em;
  color: hsl(52, 100%, 50%);
}

.fa-circle-plus {
  font-size: 1.05em;
}

.fa-magnifying-glass {
  color: inherit;
}

.thumbnail {
  width: max(90px, 14%);
  object-fit: contain;
  padding-top: 0.3rem;
}

/* =============================
		MEDIA QUERIES
	============================== */

@media (width > 580px) {

  header {
    flex: 0 1 15rem;

    > .header-text-wrapper {
      gap: 0.35em;
      padding-bottom: 1em;

      > h1 {
        align-content: center;

      }
    }
  }

  form {
    flex: unset;
    flex-direction: row;
    padding-inline: 1vw;
    width: min(740px, 94%);

    /* NOTE: There's something weird about the flex property values for s-b-w and s-t, but i've already messed with the flex elements in this thing and can't bear to mess it up again. */
    > #search-bar-wrapper {
      flex: 10 1 150px;
      opacity: 0.75;
      padding-block: 0.125em;
    }

    #search-types {
      justify-content: end;
      flex-wrap: nowrap;
      flex: 1 1 220px;
    }
  }

  main {
    padding-inline: 5vw;
  }

  #movie-cards-wrapper .card-divider {
    width: 40%;
  }

  article.movie-card {
    gap: 1.7em;

    > div.movie-details {
      > .title-rating {

        > h2 {
          font-size: 1.4em;
        }
      }

      > .runtime-year-list,
      .genre {
        gap: 1.2rem;
      }

      & p {
        font-size: 1em;
      }
    }
  }
}