:root {
  --white: #f8f8f8;
  --gray: hsl(0, 0%, 12%);
  --medium-gray: hsl(0, 0%, 14%);
  --light-gray: hsl(0, 0%, 52%);
  --black: #151515;
  --ice-blue: hsl(182 32% 43% / 1);
  --transp-ice-blue: hsl(187, 28%, 49%, 65%);
  --yellow: hsl(52, 100%, 50%);
  --black-text-shadow: 3px 3px 1px var(--black), 1.15px -1.15px 1px var(--black), -1.15px 1.15px 1px var(--black), -1.15px -1.15px 1px var(--black);
  --gray-border: solid .5px #797979;
  --ice-blue-border: 2px solid var(--ice-blue);
  --small-font-size: clamp(0.475rem, 0.38rem + 2.65vw, 1.1rem);
}

/* =============================
		GENERAL STYLES
============================== */

body {
  color: var(--white);
  background-color: var(--gray);
}

.body-wrapper {
  min-height: 100dvh;
  display: flex;
  flex-flow: column nowrap;
  margin-inline: auto;
}

  body,
  form,
  input,
  button {
    font-family: 'Open Sans', sans-serif;
  }

  h1 {
    flex: 6 1;
    align-content: center;
    font-family: "Limelight", sans-serif;
    font-size: clamp(2rem, 0.6rem + 11vw, 5.3rem);
    text-align: center;
    text-transform: uppercase;
    text-shadow: var(--black-text-shadow);
    letter-spacing: 0.015em;
    word-spacing: .06em;
    opacity: 0.85;
    padding-top: 0.4rem;
  }


h2 {
    font-size: 1.2em;
    font-weight: 500;
    text-wrap: wrap;
  }

header {
  background: url("../images/vista_lapl_coll.jpg") no-repeat top / cover;
  flex: 1 1 11.4rem;

  > .header-text-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    backdrop-filter: contrast(.65) blur(1px) brightness(.34);
    height: 100%;
    border-bottom: 1px var(--transp-ice-blue) solid;
    padding-block: 0.6rem 0.9em;
    padding-inline: 0.8em;
  }

  p {
    font-weight: 300 !important;
  }

}

form {
  display: flex;
  flex: 3 1;
  gap: 0.55em;
  flex-flow: column wrap;
  padding-inline: 5vw;
  width: 100%;
  justify-content: flex-end;
}

#search-bar-wrapper {
  display: flex;
  background-color: var(--white);
  border: var(--ice-blue-border);
  border-radius: 8px;
  padding-inline: 1rem;
  padding-block: .09em;
  justify-content: space-between;
  opacity: .85;

  &.fancy-focus {
    border: 1.5px solid var(--ice-blue);
    box-shadow: 0 0 12px var(--ice-blue);
  }

  input,
  button {
    border-width: 0;
    color: var(--gray);
    font-size: 1rem;
    padding: 0;
    appearance: none;
    border: none;
    outline: none;
  }

  input#search-bar {
    width: 90%;

    &::placeholder {
      color: var(--ice-blue);
    }
  }

  #submit-btn:focus {
    background-color: var(--transp-ice-blue);
    transform: scale(1.1);
    box-shadow: 0 0 6px var(--ice-blue);
    padding-inline: 0.4em;
    margin-right: -0.4em;
  }
}

#search-types {
  display: flex;
  gap: .4rem 0.8rem;
  flex-wrap: wrap;
  align-items: center;

  > .type-choice {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.25em;
  }

  & label {
    font-size: 0.98em;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
    text-wrap: nowrap;
  }
}


/* =============================
================================
		CARD STYLES
================================
============================== */


main {
  flex: 2 1 60vh;
  display: flex;
  max-width: 1000px;
  margin-inline: auto;
}

/* =============================
		ICONS & IMAGES
	============================== */

.fa-film {
  font-size: 2.5em !important;
  margin-top: 1rem;
}

.fa-magnifying-glass {
  color: inherit;
}

/* =============================
		MEDIA QUERIES
	============================== */

@media (width > 580px) {

  header {
    flex: 0 1 15rem;

    > .header-text-wrapper {
      gap: 0.35em;
      padding-bottom: 1em;

      > h1 {
        align-content: center;
      }
    }
  }

  form {
    flex: unset;
    flex-direction: row;
    padding-inline: 1vw;
    width: min(740px, 94%);

    /* NOTE: There's something weird about the flex property values for s-b-w and s-t, but i've already messed with the flex elements in this thing and can't bear to mess it up again. */
    > #search-bar-wrapper {
      flex: 10 1 150px;
      opacity: 0.75;
      padding-block: 0.125em;
    }

    #search-types {
      justify-content: end;
      flex-wrap: nowrap;
      flex: 1 1 220px;
    }
  }

  main {
    padding-inline: 5vw;
  }
}