:root {
  --white: hsl(0deg 0% 90.68%);
  --gray: hsl(0, 0%, 12%);
  --medium-gray: hsl(0, 0%, 14%);
  --light-gray: hsl(0, 0%, 52%);
  --black: #151515;
  --ice-blue: hsl(182 32% 43% / 1);
  --turquoise: hsl(182 97.4% 22.02%);
  --transp-ice-blue: hsl(187, 28%, 49%, 60%);
  --yellow: hsl(52, 100%, 50%);
  --black-text-shadow: 3px 3px 1px var(--black), 1.15px -1.15px 1px var(--black), -1.15px 1.15px 1px var(--black), -1.15px -1.15px 1px var(--black);
  --gray-border: solid .5px #797979;
  --ice-blue-border: 2px solid var(--ice-blue);
  /* --small-font-size: clamp(0.475rem, 0.38rem + 2.65vw, 1.1rem); */
}

/* =============================
		GENERAL STYLES
============================== */

body {
  color: var(--white);
  background-color: var(--gray);
}

.body-wrapper {
  min-height: 100dvh;
  display: flex;
  flex-flow: column nowrap;
  margin-inline: auto;
}

nav,
main {
  display: flex;
  max-width: 1000px;
}

body,
form,
input,
button {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  flex: 2 1;
  align-content: center;
  font-family: "Limelight", sans-serif;
  font-size: clamp(2rem, 0.6rem + 11vw, 5.3rem);
  text-align: center;
  text-transform: uppercase;
  text-shadow: var(--black-text-shadow);
  letter-spacing: 0.015em;
  word-spacing: .06em;
  opacity: 0.85;
  /* padding-top: 0.4rem; */
  padding-top: 2vh;
}

h2 {
  font-size: 1.2em;
  font-weight: 500;
  text-wrap: wrap;
}

p, label {
  font-weight: 300 !important;
  letter-spacing: 0.03em;
}

/* =============================
		NAVIGATION
============================== */
#nav-bar {
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
  background-color: var(--black);
  height: 2.1rem;
  padding-inline: 4.3vw;
  border-bottom: 1px var(--transp-ice-blue) solid;
  position: sticky;
  top: 0;
  z-index: 3;
  font-size: 0.85em;
  text-transform: uppercase;
  color: hsl(187deg 36.15% 70.66%);

}

/* =============================
		HEADER
============================== */

header {
  background: url("../images/vista_lapl_coll.jpg") no-repeat top / cover;
  flex: 1 1 13.5rem;
  z-index: 0;
  /* margin-top: 3rem; */

  /* ORIG: */
  /* > .header-text-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    backdrop-filter: contrast(.65) blur(1px) brightness(.34);
    height: 100%;
    border-bottom: 1px var(--transp-ice-blue) solid;
    padding-block: 0.6rem 0.9em;
    padding-inline: 0.8em;
  } */

  /* 2nd try */
  > .header-text-wrapper {
    /*
    align-content: center;
    */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-bottom: 1px var(--transp-ice-blue) solid;
    height: 100%;
    backdrop-filter: contrast(.65) blur(1px) brightness(.34);
    padding-inline: 0.8em;
    /* padding-top: 2vh; */
    padding-bottom: 2vh;
  }
}

form {
  display: flex;
  flex: 1 1;
  gap: 0.4em;
  flex-flow: column wrap;
  justify-content: flex-end;
  width: 100%;
  padding-inline: 5vw;
}

#search-bar-wrapper {
  display: flex;
  background-color: var(--white);
  justify-content: space-between;
  opacity: .85;
  border: var(--ice-blue-border);
  border-radius: 8px;
  padding-inline: 0.5rem 0.2rem;
  padding-block: .075em;

  &.fancy-focus {
    border: 2px solid var(--ice-blue);
    box-shadow:
      inset 0.04px 0.04px 8px var(--ice-blue),
      inset -0.04px 0.04px 8px var(--ice-blue),
      inset -0.04px -0.04px 8px var(--ice-blue),
      inset 0.04px -0.04px 8px var(--ice-blue);
  }

  input,
  button {
    color: var(--gray);
    background-color: unset;
    appearance: none;
    border: none;
    outline: none;
  }

  input#search-bar {
    width: 90%;
    background: none;

    &::placeholder {
      color: var(--ice-blue);
      font-weight: 500;
    }
  }

  #submit-btn:focus {
    transform: scale(1.075);
    margin-right: 0;
    color: var(--medium-gray);
    -webkit-text-stroke: 0.1px var(--white);
    text-shadow:
      0.6px 0.6px 6px var(--transp-ice-blue),
      -0.6px 0.6px 6px var(--transp-ice-blue),
      -0.6px -0.6px 6px var(--transp-ice-blue),
      0.6px -0.6px 6px var(--transp-ice-blue);
  }
}

#search-types {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9rem;
  justify-content: start;
  text-transform: lowercase;

  > .type-choice {
    display: flex;
    flex-wrap: nowrap;
    /* gap: 0.25em; */
  }

  & label {
    text-shadow: 1px 1px 2px black;
    text-wrap: nowrap;
  }
}

/* =============================
    MAIN
============================== */

main {
  flex: 2 1 60vh;
  margin-inline: auto;
}

/* =============================
		ICONS & IMAGES
	============================== */

.fa-film {
  font-size: 2.5em !important;
  margin-top: 1rem;
}

.fa-magnifying-glass {
  color: inherit;
  font-size: 1rem;
}

/* =============================
		MEDIA QUERIES
	============================== */

@media (width > 580px) {

  header {
    flex: 0 1 15rem;

    > .header-text-wrapper {
      gap: 0.35em;
      padding-bottom: 1em;

      > h1 {
        align-content: center;
      }
    }
  }

  form {
    flex: unset;
    flex-direction: row;
    padding-inline: 1vw;
    width: min(700px, 94%);

    /* NOTE: There's something weird about the flex property values for s-b-w and s-t, but i've already messed with the flex elements in this thing and can't bear to mess it up again. */
    > #search-bar-wrapper {
      flex: 10 1 150px;
      opacity: 0.75;
      padding-block: 0.125em;
    }

    #search-types {
      justify-content: end;
      flex-wrap: nowrap;
      flex: 1 1 220px;
    }
  }

  main {
    padding-inline: 5vw;
  }
}